@import "colors";
@import "mixins/typography";

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    font-size: 1rem;

    & .container {
        position: relative;
        transform: scale(0.9);
        opacity: 0;
        filter: drop-shadow(0 0.7em 1.6em color(var(--color-black) alpha(0.15)));
        transition: opacity 0.2s ease, transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &.enter-active,
    &.enter-done {
        & .container {
            transform: scale(1);
            opacity: 1;
        }
    }

    &.exit {
        pointer-events: none;

        & .container {
            transform: scale(1);
            transition: opacity 0.15s ease;
        }
    }

    & .box {
        position: relative;
        z-index: 2;
        padding: 2em;
        background-color: var(--color-white);
        color: var(--color-black);
        text-align: left;
    }

    & .arrow {
        position: absolute;
        width: 0;
        height: 0;
        z-index: 1;
        border-style: solid;
    }

    &[data-placement="top"] {
        & {
            padding-bottom: 2em;
        }

        & .arrow {
            bottom: -1em;
            border-width: 1em 0.9em 0 0.9em;
            border-color: var(--color-white) transparent transparent transparent;
        }
    }

    &[data-placement="right"] {
        & {
            padding-left: 2em;
        }

        & .arrow {
            left: -1em;
            border-width: 0.9em 1em 0.9em 0;
            border-color: transparent var(--color-white) transparent transparent;
        }
    }

    &[data-placement="bottom"] {
        & {
            padding-top: 2em;
        }

        & .arrow {
            top: -1em;
            border-width: 0 0.9em 1em 0.9em;
            border-color: transparent transparent var(--color-white) transparent;
        }
    }

    &[data-placement="left"] {
        & {
            padding-right: 2em;
        }

        & .arrow {
            right: -1em;
            border-width: 0.9em 0 0.9em 1em;
            border-color: transparent transparent transparent var(--color-white);
        }
    }
}

.popover-content {
    @mixin typography-body-2 em;

    /* Prevent text from flickering in Webkit */
    backface-visibility: hidden;
}
