@import "colors";
@import "mixins/typography";

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;

    & .container {
        position: relative;
        transform: scale(0.9);
        opacity: 0;
        filter: drop-shadow(0 0.7rem 1.6rem color(var(--color-black) alpha(0.15)));
        transition: opacity 0.2s ease, transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &.enterActive,
    &.enterDone {
        & .container {
            transform: scale(1);
            opacity: 1;
        }
    }

    &.exit {
        pointer-events: none;

        & .container {
            transform: scale(1);
            transition: opacity 0.15s ease;
        }
    }

    & .arrow {
        position: absolute;
        width: 0;
        height: 0;
        z-index: 1;
        border-style: solid;
    }

    &[data-placement="top"] {
        & {
            margin-bottom: 2rem;
        }

        & .arrow {
            bottom: -1rem;
            border-width: 1rem 0.9rem 0 0.9rem;
            border-color: var(--color-white) transparent transparent transparent;
        }
    }

    &[data-placement="right"] {
        & {
            margin-left: 2rem;
        }

        & .arrow {
            left: -1rem;
            border-width: 0.9rem 1rem 0.9rem 0;
            border-color: transparent var(--color-white) transparent transparent;
        }
    }

    &[data-placement="bottom"] {
        & {
            margin-top: 2rem;
        }

        & .arrow {
            top: -1rem;
            border-width: 0 0.9rem 1rem 0.9rem;
            border-color: transparent transparent var(--color-white) transparent;
        }
    }

    &[data-placement="left"] {
        & {
            margin-right: 2rem;
        }

        & .arrow {
            right: -1rem;
            border-width: 0.9rem 0 0.9rem 1rem;
            border-color: transparent transparent transparent var(--color-white);
        }
    }
}

.popoverBox {
    position: relative;
    z-index: 2;
    background-color: var(--color-white);
    color: var(--color-black);
    text-align: left;
}

.popoverContent {
    position: relative;
    padding: 2rem;
    backface-visibility: hidden; /* Prevent text from flickering in Webkit */
    @mixin typography-body-2 rem;
}
