@import "colors";
@import "mixins/typography";

.button {
    min-width: 14em;
    height: 4.4em;
    padding: 0 2.5em;
    border: 0;
    border-radius: 0.2em;
    font-size: 1rem;
    cursor: pointer;
    transition-property: background-color, color, border-color, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    & .text {
        @mixin typography-body-2 em;
    }

    &.full-width {
        width: 100%;
    }

    &.primary {
        background-color: var(--color-science-blue);
        color: var(--color-white);

        &:hover,
        &:focus {
            background-color: color(var(--color-science-blue) alpha(0.8));
        }

        &[disabled] {
            background-color: var(--color-seashell);
            color: var(--color-gray);
        }
    }

    &.secondary {
        border: 0.1em solid var(--color-gray);
        background-color: var(--color-white);
        color: var(--color-black);

        &:hover,
        &:focus {
            border-color: var(--color-science-blue);
        }

        &[disabled] {
            border-color: var(--color-gray);
            opacity: 0.4;
            color: var(--color-gray);
        }
    }
}
