@import "colors";
@import "mixins/typography";

.button {
    position: relative;
    min-width: 14rem;
    height: 4.4rem;
    overflow: hidden;
    padding: 0 2.5rem;
    border: 0;
    border-radius: 0.2rem;
    transition-property: background-color, color, border-color, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    &:not([disabled]) {
        cursor: pointer;
    }

    &.fullWidth {
        width: 100%;
    }

    &.primary {
        background-color: var(--color-science-blue);
        color: var(--color-white);

        &:hover:not(.loading),
        &:focus:not(.loading) {
            background-color: color(var(--color-science-blue) alpha(0.8));
        }

        &[disabled]:not(.loading) {
            background-color: var(--color-seashell);
            color: var(--color-gray);
        }
    }

    &.secondary {
        border: 0.1rem solid var(--color-gray);
        background-color: var(--color-white);
        color: var(--color-black);

        &:hover:not(.loading),
        &:focus:not(.loading) {
            border-color: var(--color-science-blue);
        }

        &[disabled]:not(.loading) {
            border-color: var(--color-gray);
            opacity: 0.4;
            color: var(--color-gray);
        }
    }

    /* ==========================================================================
      Text + feedback
      ========================================================================== */

    & .progressBar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    & .textBlock {
        @mixin typography-body-2 rem, no-line-height;
        position: relative;
        height: 100%;
        z-index: 2;
        transform: translateY(0);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.2s ease;
    }

    & .successBlock,
    & .errorBlock {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transform: translateY(100%);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.2s ease;

        & .feedbackIcon {
            font-size: 1.6rem;
        }
    }

    &.primary {
        & .progressBar {
            background-color: color(var(--color-black) alpha(0.1));
        }

        & .errorBlock {
            background-color: var(--color-monza);
        }
    }

    &.secondary {
        & .progressBar {
            background-color: color(var(--color-black) alpha(0.1));
        }

        & .successBlock .feedbackIcon {
            fill: var(--color-science-blue);
        }

        & .errorBlock .feedbackIcon {
            fill: var(--color-monza);
        }
    }

    &.success {
        & .textBlock {
            transform: translateY(-100%);
        }

        & .successBlock {
            transform: translateY(0);
        }
    }

    &.error {
        & .textBlock {
            transform: translateY(-100%);
        }

        & .errorBlock {
            transform: translateY(0);
        }
    }
}
