@import "colors";

:root {
    --size: 1.6em;
}

.typing-indicator {
    position: relative;
    width: var(--size);
    height: var(--size);
    display: inline-block;
    color: var(--color-black);
    font-size: 1rem;

    & > span {
        position: absolute;
        top: 50%;
        width: calc(var(--size) / 4);
        height: calc(var(--size) / 4);
        margin-top: calc(var(--size) / -8);
        display: block;
        background: currentColor;
        border-radius: calc(var(--size) / 4);
        animation: bounce 1.75s infinite;

        &:nth-child(2) {
            left: 50%;
            margin-left: calc(var(--size) / -8);
            animation-delay: 0.25s;
        }

        &:nth-child(3) {
            right: 0;
            animation-delay: 0.5s;
        }
    }
}

@keyframes bounce {
    10% {
        height: calc(var(--size) / 4);
        transform: translate3d(0, calc(var(--size) / 4), 0);
        animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    }

    14% {
        height: calc(var(--size) * 3 / 4);
    }

    15% {
        height: calc(var(--size) / 4);
        transform: translate3d(0, calc(var(--size) / -2), 0);
        animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
    }

    35% {
        transform: translate3d(0, 0, 0);
    }
}
