/*
  Name colors using http://chir.ag/projects/name-that-color
  See: https://davidwalsh.name/sass-color-variables-dont-suck

  Note: If you add a color here, please add it to "/stories/base/colors.css" as well
*/

:root {
    --color-science-blue: #0a6adb;
    --color-black: #000;
    --color-white: #fff;
    --color-selago: #e4effb;
    --color-geyser: #d0d8e3;
    --color-seashell: #f1f1f1;
    --color-gray: #858585;
    --color-monza: #d0021b;
    --color-ripe-lemon: #f8e71c;
}
