@import "colors";
@import "mixins/typography";

:root {
    --spacing: 4em;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: calc(100vw - var(--spacing) * 2);
    max-height: calc(100vh - var(--spacing) * 2);
    overflow: auto;
    padding: var(--spacing);
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    background-color: var(--color-white);
    box-shadow: 0 0.7em 1.7em color(var(--color-black) alpha(0.15));
    font-size: 1rem;
    transition: opacity 0.2s 0.1s ease, transform 0.3s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &.afterOpen {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    &.beforeClose {
        opacity: 0;
        transition: opacity 0.15s ease;
    }
}

.modalContent {
    @mixin typography-body-2 em;

    /* Prevent text from flickering in Webkit */
    backface-visibility: hidden;
}

.modalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.2s ease;

    &.afterOpen {
        background-color: color(var(--color-black) alpha(0.3));
    }

    &.beforeClose {
        background-color: transparent;
        transition: background-color 0.15s ease;
    }
}

.modalPortal {
    position: relative;
    z-index: 999999;
}

.modalBodyOpen {
    overflow: hidden;
}
