@import "colors";
@import "mixins/typography";

.discussionFab {
    position: relative;
    width: 6rem;
    height: 6rem;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: var(--color-white);
    border-radius: 50%;
    box-shadow: 0 1rem 2.5rem 0 rgba(45, 65, 85, 0.25);
    color: var(--color-science-blue);
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    &::after {
        content: "";
        position: absolute;
        top: -0.1rem;
        right: -0.1rem;
        bottom: -0.1rem;
        left: -0.1rem;
        border-radius: 50%;
        box-shadow: inset 0 0 0 0 var(--color-science-blue);
        transition: box-shadow 0.2s ease;
    }

    &:hover::after,
    &:focus::after {
        box-shadow: inset 0 0 0 0.2rem var(--color-science-blue);
    }

    &.hasUnread {
        background-color: var(--color-science-blue);
        color: var(--color-white);

        &::after {
            box-shadow: inset 0 0 0 0.2rem var(--color-white);
        }

        &:hover::after {
            box-shadow: inset 0 0 0 0 var(--color-white);
        }
    }

    &.active {
        background-color: var(--color-science-blue);
        color: var(--color-white);

        &::after,
        &:hover::after {
            box-shadow: inset 0 0 0 0 var(--color-science-blue);
        }
    }

    & .logo {
        position: relative;
        left: 0.1833rem;
        font-size: 1.091rem;
    }

    & .commentsCount {
        @mixin typography-body-1 rem;
    }
}
