@import "variables";

.discussion-fab {
    position: fixed;
    width: 60px;
    height: 60px;
    border: 0;
    background-color: var(--color-white);
    border-radius: 50%;
    box-shadow: 0 11px 25px 0 var(--color-geyser);
    color: var(--color-science-blue);
    font-size: 16px;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    fill: var(--color-science-blue);

    &::after {
        content: "";
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        border-radius: 50%;
        box-shadow: inset 0 0 0 0 var(--color-science-blue);
        transition: box-shadow 0.2s ease;
    }

    &:hover::after {
        box-shadow: inset 0 0 0 2px var(--color-science-blue);
    }

    &.active,
    &:focus {
        background-color: var(--color-science-blue);
        color: var(--color-white);
        fill: var(--color-white);

        &:hover::after {
            box-shadow: inset 0 0 0 0 var(--color-science-blue);
        }
    }

    &.has-unread {
        background-color: var(--color-science-blue);
        color: var(--color-white);
        fill: var(--color-white);

        &::after {
            box-shadow: inset 0 0 0 2px var(--color-white);
        }

        &:hover::after {
            box-shadow: inset 0 0 0 0 var(--color-white);
        }
    }

    & .logo {
        position: relative;
        left: 2px;
        font-size: 5.91px;
    }
}
