@import "colors";
@import "mixins/typography";

.discussion-fab {
    position: fixed;
    width: 6em;
    height: 6em;
    border: 0;
    background-color: var(--color-white);
    border-radius: 50%;
    box-shadow: 0 1.1em 2.5em 0 var(--color-geyser);
    color: var(--color-science-blue);
    font-size: 1rem;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    fill: var(--color-science-blue);

    &::after {
        content: "";
        position: absolute;
        top: -0.1em;
        right: -0.1em;
        bottom: -0.1em;
        left: -0.1em;
        border-radius: 50%;
        box-shadow: inset 0 0 0 0 var(--color-science-blue);
        transition: box-shadow 0.2s ease;
    }

    &:hover::after {
        box-shadow: inset 0 0 0 0.2em var(--color-science-blue);
    }

    &.active,
    &:focus {
        background-color: var(--color-science-blue);
        color: var(--color-white);
        fill: var(--color-white);

        &:hover::after {
            box-shadow: inset 0 0 0 0 var(--color-science-blue);
        }
    }

    &.has-unread {
        background-color: var(--color-science-blue);
        color: var(--color-white);
        fill: var(--color-white);

        &::after {
            box-shadow: inset 0 0 0 0.2em var(--color-white);
        }

        &:hover::after {
            box-shadow: inset 0 0 0 0 var(--color-white);
        }
    }

    & .logo {
        position: relative;
        left: 0.1833em;
        font-size: 1.091em;
    }

    & .comments-count {
        @mixin typography-body-1 em;
    }
}
