@import "colors";
@import "mixins/typography";

.textButton {
    padding: 0;
    border: 0;
    opacity: 0.5;
    background: none;
    color: var(--color-gray);
    font-size: 1rem;
    text-transform: uppercase;
    line-height: inherit;
    white-space: nowrap;
    transition-property: opacity, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    &:not([disabled]) {
        cursor: pointer;
    }

    &:hover,
    &:focus {
        opacity: 1;
        color: var(--color-science-blue);
    }

    &[disabled] {
        opacity: 0.25;
        color: var(--color-gray);
    }

    & .text {
        display: inline-block;
        @mixin typography-caption rem, no-line-height;
        vertical-align: middle;
    }

    & .icon {
        vertical-align: middle;
        font-size: 1.5rem;
    }

    &.left .icon {
        margin-right: calc(0.8rem / 1.5);
    }

    &.right .icon {
        margin-left: calc(0.8rem / 1.5);
    }
}
