@import "colors";
@import "mixins/typography";

.textButton {
    padding: 0;
    display: inline-flex;
    align-items: center;
    border: 0;
    background: none;
    color: var(--color-science-blue);
    font-size: 1rem;
    text-transform: uppercase;
    transition-property: opacity, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    &:not([disabled]) {
        cursor: pointer;
    }

    &:hover,
    &:focus {
        opacity: 0.8;
    }

    &[disabled] {
        opacity: 0.9;
        color: var(--color-gray);
    }

    & .text {
        @mixin typography-caption em;
    }

    & .icon {
        font-size: 1.5em;
    }

    &.left {
        flex-direction: row-reverse;

        & .icon {
            margin-right: calc(0.8em / 1.5);
        }
    }

    &.right {
        flex-direction: row;

        & .icon {
            margin-left: calc(0.8em / 1.5);
        }
    }
}
