@import "colors";

.brand-logo {
    display: inline-block;
    font-size: 2rem;

    & .logotype {
        width: calc(12.6em / 2);
        height: calc(1.4em / 2);
        font-size: inherit;
    }

    & .logomark {
        width: calc(4.4em / 2);
        height: calc(3.9em / 2);
        font-size: inherit;
    }

    &.horizontal {
        & .logomark {
            margin-right: calc(2.5em / 2);
        }
    }

    &.vertical {
        & .logomark {
            margin: 0 auto calc(2.5em / 2) auto;
            display: block;
        }

        & .logotype {
            margin: 0 auto;
            display: block;
        }
    }

    &.colored {
        fill: var(--color-science-blue);
    }
}
