@import "variables";

.brand-logo {
    &.normal {
        width: 12.6em;
        height: 1.4em;
    }

    &.abbr {
        width: 4.4em;
        height: 3.9em;
    }

    &.colored {
        fill: var(--color-science-blue);
    }
}
