@import "../../styles/colors";
@import "../../styles/mixins/typography";

.avatar {
    position: relative;
    width: 3em;
    height: 3em;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-selago);
    background-size: cover;
    border-radius: 50%;
    font-size: 1rem;

    & .initials {
        @mixin typography-overline em;
        color: var(--color-science-blue);
    }

    & .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
