/* ==========================================================================
  Headings

  $unit - Either em or rem
  ========================================================================== */

@define-mixin _heading {
    font-family: "NunitoSans", sans-serif;
    font-weight: 700;
}

@define-mixin typography-h1 $unit {
    @mixin _heading;
    font-size: 6$(unit);
    line-height: calc(8.00001em / 6);
}

@define-mixin typography-h2 $unit {
    @mixin _heading;
    font-size: 4$(unit);
    line-height: calc(5.4em / 4);
}

@define-mixin typography-h3 $unit {
    @mixin _heading;
    font-size: 3$(unit);
    line-height: calc(4.00001em / 3);
}

@define-mixin typography-h4 $unit {
    @mixin _heading;
    font-size: 2$(unit);
    line-height: calc(3.2em / 2);
}

/* ==========================================================================
  Text variants

  $unit - Either `em` or `rem`
  $line-height-modifier - Specify `no-line-height` to skip adding `line-height`
  ========================================================================== */

@define-mixin typography-body-1 $unit, $line-height-modifier: none {
    font-family: "NunitoSans", sans-serif;
    font-size: 1.6$(unit);
    font-weight: 400;
    @if $line-height-modifier != no-line-height {
        line-height: calc(2.6em / 1.6);
    }
}

@define-mixin typography-body-2 $unit, $line-height-modifier: none {
    font-family: "NunitoSans", sans-serif;
    font-size: 1.4$(unit);
    font-weight: 300;
    @if $line-height-modifier != no-line-height {
        line-height: calc(2.2em / 1.4);
    }
}

@define-mixin typography-caption $unit, $line-height-modifier: none {
    font-family: "NunitoSans", sans-serif;
    font-size: 1.2$(unit);
    font-weight: 700;
    letter-spacing: calc(0.04em / 1.2);
    @if $line-height-modifier != no-line-height {
        line-height: calc(1.8em / 1.2);
    }
}

@define-mixin typography-overline $unit, $line-height-modifier: none {
    font-family: "NunitoSans", sans-serif;
    font-size: 1.2$(unit);
    font-weight: 400;
    letter-spacing: calc(0.04em / 1.2);
    @if $line-height-modifier != no-line-height {
        line-height: calc(1.8em / 1.2);
    }
}
