@import "colors";
@import "mixins/typography";

.commentRepliesHeaderPlaceholder {
    min-width: 350px;
    display: flex;
    align-items: center;

    & .replyingTo {
        overflow: hidden;
        display: flex;
        flex: 1 0;
        align-items: center;

        & .replyIcon {
            width: 1.6rem;
            height: 1.6rem;
            color: var(--color-seashell);
        }

        & .dummyText {
            width: 14rem;
            height: 1rem;
            margin-left: 0.8rem;
            background-color: var(--color-seashell);
            border-radius: 0.6rem;
        }

        & .fakeText {
            position: relative;
            left: -1rem;
            @mixin typography-overline rem;
            color: var(--color-seashell);

            &::after {
                content: "-";
            }

        }
    }

    & .viewMore {
        display: flex;
        align-items: center;

        & .dummyButton {
            width: 13rem;
            height: 1rem;
            margin-left: 0.8rem;
            background-color: var(--color-seashell);
            border-radius: 0.6rem;
        }
    }
}
