@import "../../styles/colors";
@import "../../styles/keyframes";
@import "../../styles/mixins/typography";

:root {
    --color-content-background-solid: rgb(231, 240, 251);
}

.commentPlaceholder {
    min-width: 30rem;
    background-color: var(--color-white);

    & .content {
        position: relative;
        padding: 1.8rem 2rem;
        background-color: color(var(--color-science-blue) alpha(0.1));
        border-radius: 0.8rem 0.8rem 0.8rem 0;

        & pre {
            margin: 0;
            padding: 0;
            @mixin typography-body-2 rem;
            white-space: pre-line;
        }

        & .dummyTextLine1 {
            position: absolute;
            top: 2.4rem;
            left: 2rem;
            width: calc(85% - 4rem);
            height: 1rem;
            overflow: hidden;
            background-color: color(var(--color-science-blue) alpha(0.1));
        }

        & .dummyTextLine2 {
            position: absolute;
            top: 4.6rem;
            left: 2rem;
            width: calc(67% - 4rem);
            height: 1rem;
            overflow: hidden;
            background-color: color(var(--color-science-blue) alpha(0.1));
        }

        & .dummyTextLine1,
        & .dummyTextLine2 {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background:
                    linear-gradient(
                        90deg,
                        transparent,
                        var(--color-content-background-solid),
                        transparent
                    );
                animation: progress 1s ease-in-out infinite;
            }
        }
    }

    & .bottomBar {
        margin-top: 1rem;
    }
}
