/* ==========================================================================
   Fonts

   If you are going to include custom fonts please use the /src/media/fonts
   directory.
   ========================================================================== */

@font-face {
    font-family: "NunitoSans";
    font-weight: 300;
    font-style: normal;
    src:
        url("../../media/fonts/nunito-sans/nunito-sans-v3-latin_latin-ext-300.woff2") format("woff2"),
        url("../../media/fonts/nunito-sans/nunito-sans-v3-latin_latin-ext-300.woff") format("woff");
}

@font-face {
    font-family: "NunitoSans";
    font-weight: 400;
    font-style: normal;
    src:
        url("../../media/fonts/nunito-sans/nunito-sans-v3-latin_latin-ext-regular.woff2") format("woff2"),
        url("../../media/fonts/nunito-sans/nunito-sans-v3-latin_latin-ext-regular.woff") format("woff");
}

@font-face {
    font-family: "NunitoSans";
    font-weight: 700;
    font-style: normal;
    src:
        url("../../media/fonts/nunito-sans/nunito-sans-v3-latin_latin-ext-700.woff2") format("woff2"),
        url("../../media/fonts/nunito-sans/nunito-sans-v3-latin_latin-ext-700.woff") format("woff");
}
